<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geting Strarted: serving web content</title>
</head>
<body>
    <div>Hello, user</div>
<a href="/main">Main Page</a>
</body>
</html>